-e git+https://github.com/clin94118/ccsf-con.git@ade76e1c543b6c4fe41e9ea9e06782a97e449e37#egg=ccsf_con
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.0
cx-Oracle==8.3.0
exceptiongroup==1.2.2
greenlet==3.0.3
idna==3.7
iniconfig==2.0.0
numpy==2.0.1
oracledb==2.3.0
packaging==24.1
pandas==2.2.2
pluggy==1.5.0
pycparser==2.22
pyodbc==5.1.0
pytest==8.3.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.32
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
